# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other system files I found
*.db
*.sln
*.tlog
*.lastbuildstate
*.idb
*.vcxproj
*.filters

# Xml files
*.xml
*.name
*.iml
*.pyc